:root {
    --input: #000000d4;
    --blue: #16d8ee;
    --green: #1ef74d;
    --light: #EEE;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #FFF;
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

}

header {
    padding: 2rem 1rem;
    max-width: 700px;
    width: 85%;
    margin: 10px auto;
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

header h1 {
    color: var(--light);
    margin-bottom: 1rem;
    text-align: center;
}

#new_task_form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new_task_input {
    flex: 1 1 0%;
    background-color: var(--input);
    color: var(--light);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

#new_task_input::placeholder {
    color: #ffffff94;
}

#new_task_submit {
    color: var(--blue);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--blue), var(--green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.8;
}

#new-task-submit:active {
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    max-width: 700px;
    width: 85%;
    margin: 20px auto;
    margin-bottom: 2rem;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.task_list {
    padding: 1rem;
}

.task_list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--input);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    color: var(--blue);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--blue), var(--green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: crimson;
}

@media only screen and (max-width: 800px) {
    header {
        width: 90%;
        padding: 1rem;
    }

    main {
        width: 90%;
    }

    #new_task_form {
        flex-direction: column;
    }

    #new_task_input {
        margin-right: 0;
        font-size: 1.25rem;
    }

    #new_task_submit {
        padding: 5px;
        margin: 10px;
    }


    .task .actions button {
        margin: 0 0.2rem;
        font-size: 1.11rem;
    }

}